@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	font-family: "Lato", sans-serif;
}

.app-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.sidebar {
  width: 20%;
  background-color: #f0f0f0;
}

.content {
  width: 80%;
  padding: 20px;
}

.avatar-login {
	width: 100px;
	height: 100px;
	background-color: #5ABF87;
}

.auth-button {
	font-family: "Josefin Sans", sans-serif;
	font-weight: 700;
	background-color: #B0E5C8;
	color: #889C96;

}
.auth-button:hover {
	background-color: #5ABF87;
	color: #3A4E48;
}

.auth-button:active {
	background-color: #C1E6B8;
	color: #3A4E48;
}

